!!! 5
html(lang="en")
	head
		title	Logscape 2.0 	
		link(href="css/bootstrap.min.css",rel="stylesheet")
		link(href="css/style.css",rel="stylesheet")
		link(href="css/style.css",rel="stylesheet")
		link(href="css/font-awesome-4.0.3/css/font-awesome.min.css",rel="stylesheet")
		script(src="js/jquery-1.11.0.js")
		script(src="js/bootstrap.min.js")
		script.
			var breadcrumbs={
				"gettingstarted":"Getting Started" 
				,"searching":"Search"
					,"kv":"Data Discovery"
					,"offsets":"Using Offsets"
					,"geoip":"Geo IP"
					,"pattern":"Using Search Patterns"
					,"video":"tutorials"
					,"overlays":"Overlaying Searches" 
				,"starthere":""

				,"ds":"Data Sources"
					,"add":" Add a New Data Source" 
					,"multitags":" Using Multi-Tags"
					,"syslog":" Connect Syslog Clients" 
					,"tags": " Sources and Tags" 
					,"intelligent_field_discovery":" Intelligent Field Discovery" 
				,"types":"Data Types"
					,"system_fields":"System Fields" 
				,"deploy":"Deployment" 
					,"app":" Logscape Apps"
					,"agents": "Agents "
					,"architectures_default": " Default Deployment"
					,"architectures_failover": "Failover" 
					,"architectures_indexstores": " Index Stores" 
					,"architectures_tenured":"Tenured Data"
					,"architectures_zones":" Zones" 
					,"Backup": "Backup" 
						,"home":" The Home WorkspacE"
						,"import":" Restoring from Backup"
						,"partial": " Selective Import"

					,"arch_zoning":"Distributed Topology" 
					,"arch_clm":"Centralized Monitoring Topology" 
					,"arch_indexstores":"Multiple Index Store Topology" 

					,"rawtcpserver": "Tcp Server"
					,"syslogserer":"Syslog Server"
					,"centralconfigs":"Centralized Configuration"
					,"boot_properties":"Boot Properties"

				,"users":"Users"
					,"datagroups": "Data Groups"
						,"nested": "Nested Groups"
				,"ldap":"Active Directory" 
			};
			$(window).load(function(){
				function genLink(arr,idx){
					if (idx<0) { return "/"; } 
					var l="/"
					for(i=0;i<=idx;i++){
						l=l +  arr[i] + "-" ;
					}
					return l.substring(0,l.length-1) + ".html";
				}

				function renderCrumbs(page){
					console.log("rendering breadcrumbs for page:" + page)
					if (page.indexOf("-") < 0){
						return ""
					}
					var parts=page.split("-");
					var idx=0;
					console.log("rendering  " + parts);
					var html="<a href='"+genLink(parts,-1)+"'> / Home </a>";
					for(idx=0;idx<parts.length;idx++){
						k=parts[idx];
					
						html=html + "<a href="+ genLink(parts,idx) + ">";
						if (breadcrumbs.hasOwnProperty(k)){
							html=html + " / " + breadcrumbs[k];
						}else{
							
							html=html + " / " + k[0].toUpperCase() + k.substring(1,k.length);
						}
						console.log(".");
					}
					console.log("this far!!!");
					return html
				}
				
				var elems=window.location.href.split('?')[0].split('/');
				var currentPage=elems[elems.length-1].split('.')[0]
				console.log("crumb>" + renderCrumbs(currentPage));	
				$('#widget-bc').html(renderCrumbs(currentPage));
			});


		script.
			var blogFeed;
			function parseRSS(url, callback) {
				$.ajax({
					url: document.location.protocol + '//ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=' + encodeURIComponent(url),
					dataType: 'json',
					success: function(data) {
						callback(data.responseData.feed);
					}});
			}
			
			$(window).load(function() { 
				parseRSS("http://blog.logscape.com/feed",function(feed){
					var num = feed.entries.length;
					for(i=0;i< num;i++){
						var title=feed.entries[i].title;
						//var link=feed.entries[i].
						link=feed.entries[i].link;
						$(".resource-list ul").append("<li><a href='"+link+"'>"+title+"</a> </li>")
						blogFeed=feed;
					}
				});
			});

		script.
			$(window).bind("pageshow",function(){
				var $form= $("form")[0];
				$form.reset(); 
			});

		script.
			function submit_form(){
				var q=$("#searchBox").val() 
				q=encodeURIComponent(q)
				var query="https://www.google.com/?gws_rd=cr&q=site:logscape.github.io++"+q+"#q=site:logscape.github.io++"+q
				window.location.replace(query)
			}
			
	body

		.container-fluid.navbar(style="min-height:30px;margin-bottom:5px;")
			.row(style="height:5px") 
			.row.navbar-inner
					
				.col-md-1(style="width:10px") 
					
				.col-md-11

					form#cse-search-box(action="",style="position:right;padding-top:5px;padding-bottom:5px",onSubmit="submit_form()")
						a(href="/")
							img(src="images/logo.png",style="padding-top:0px,padding-right:15px",width="150") 
						input(type="hidden",name="cx",value="partner-pub-2789521296837340:9402765321")
						input(type="hidden",name="ie",value="UTF-8")
						input#searchBox(type="text",name="q",size="31",style="margin-left:15px")
						input.btn-search#cseSubmit(type="submit",value=" ")
						&nbsp;&nbsp;
						a(href="http://apps.logscape.com") Apps |  
						a(href="http://support.liquidlabs.co.uk") Release 1.3 | 
						a(href="http://logscape.activeboard.com/") Forums 
		.container-fluid

			.row
				.col-md-2
				.col-md-5
					#widget-bc.breadcrumbs.style("padding-left:150px")
						&nbsp;
				//
					p 
						a(href="") >> Home 
						a(href="")  / Searches
						a(href="")  / Overlaying Searches 


			.row
				.col-md-1(style="width:10px")
					p
				.col-md-2.nav-padding
					ul.nav.nav-tabs.nav-stacked 
						li
							a(href="searching.html") Search
						
						li 
						//
							a(href="workspaces.html") WorkSpaces
						li 
							a(href="ds.html") Data Sources
						li 
							a(href="types.html") Data Types 
						li	
							a(href="deploy.html") Deployment 
						li	
							a(href="users.html") Users 
						li 
							a(href="alerts.html") Alerts 	
						li
							a(href="technology.html") Technology
				
					.resource-list
						ul(style="list-style:none;padding-left:0px") 
							h4 Blog Feed
				.col-md-9.content-area 

					block content
			.row
				hr.dark 
				.col-md-3
				Logscape Copyright 2014(c) Registered Trademark 
	
		script.
			$( document ).ready(function() {

				$("#cseSubmit").on("click",function(e){
					e.preventDefault();
					submit_form(); 
				});
				$("#searchBox").on("keypress",function(e){ 
					if (e.keyCode == 13) { 
						e.preventDefault();
						submit_form() 
					}
				}); 
			});

		script(src="js/ga.js") 
